*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, white, rgb(33, 33, 173), black);
}

.clock {
  background-color: rgba(122, 122, 122, 0.7);
  border: 2px solid;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.hand {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform-origin: 100%;
}

.second {
  width: 50%;
  height: 0.5%;
  background-color: red;
}

.minute {
  width: 50%;
  height: 1%;
  background-color: black;
}

.hour {
  width: 50%;
  height: 2%;
  background-color: black;
}
